{% load static %}
{% load i18n %}
<div class="container-fluid" id="page-hero">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 px-0">
                        <h1>{% trans "Membership on the site" %}</h1>
                        <p>{% trans "Take advantage of all the site's features by logging into your user area." %}</p>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">صفحه نخست</a></li>
                                <li class="breadcrumb-item active" aria-current="page">عضویت</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>