{% extends "_base.html" %}
{% load static %}
{% load i18n %}


{% block page_title %}
    {% trans " delete address" %} 
{% endblock page_title %}

{% block content %}
    <section class="inner-page" id="profile-page">
        <h1 style="color:red; margin: 40px 90px;">{% trans "Are you sure you want to delete this address?" %}</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" 
            value="Delete" 
            style='font-size:30px; 
            color:#fff;
            background-color:red;
            border:10px solid;
            margin: 40px 40px 90px 0px;'>
        </form>
        <a href="{% url "dashboard:address" %}" style='font-size:30px; 
            color:#2196F3;
            background-color:0277BD;
            border:10px solid;
            margin: 40px 40px 0px 90px; '>{% trans "cancel" %}</a>
    </section>
{% endblock content %}
