{% extends "_base.html" %}
{% load static %}
{% load i18n %}


{% block page_title %}
    {% trans " delete address" %} 
{% endblock page_title %}
{% block style %}
    <link rel="stylesheet" href="{% static "/assets/css/app.css" %}">
{% endblock style %}

{% block content %}
    <section class="delete-address">
        <div class="box">
            <h1>{% trans "Are you sure you want to delete this address?" %}</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <input class="delete"
                type="submit" 
                value="Delete" 
                >
            </form>
            <a class="cancel" href="{% url "dashboard:address" %}" >{% trans "cancel" %}</a>
        </div>
    </section>  
{% endblock content %}
