{% extends "_base.html" %}
{% load static %}
{% load i18n %}


{% block page_title %}
    {% trans " update address" %} 
{% endblock page_title %}

{% block content %}
    <section class="inner-page" id="profile-page">
        {% include "includes/inner_page.html" %}

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                          {% include "includes/side_panel.html" %}
                            <div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                                <!-- New Address Form -->
                                {% if  addresses %}
                                    <div class="custom-container mb-2" id="new-address">
                                        <div class="row pt-2 px-3">
                                            <div class="col-12"><h1>{% trans "update your address" %}</h1></div>
                                        </div>
                                        <hr>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 pt-3">
                                                    
                                                    <form action="" method='POST'>
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-12 col-md-4 pl-2">
                                                                <div class="form-group m-1">
                                                                    <label for="province">{% trans "province" %}:</label>
                                                                    <input type='text' name="province" id="province" class="form-control" required>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-4 pl-2">
                                                                <div class="form-group m-1">
                                                                    <label for="city">{% trans "city" %}:</label>
                                                                    <input type ='text' name="city" id="city" class="form-control" required>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-8 pl-2">
                                                                <div class="form-group m-1">
                                                                    <label for="address">{% trans "full address" %}:</label>
                                                                    <input type="text" name="full_address" id="address" class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-4 pl-2">
                                                                <div class="form-group m-1">
                                                                    <label for="postal_code">{% trans "postal code" %}:</label>
                                                                    <input type="text" name="postal_code" id="postal_code" class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group m-1 pb-3">
                                                                    <input type="submit" class="btn btn-primary px-5" value="{% trans "update address" %}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <!-- /New Address Form -->
                                {% if addresses %}
                                    <!-- User Addresses -->
                                    <div class="custom-container" id="addresses">
                                        <div class="row pt-2 px-3">
                                            <div class="col-12"><h1>{% trans "my address" %}</h1></div>
                                        </div>
                                        <hr>
                                        <div class="container">
                                            <div class="row">
                                                <!-- Address Record -->
                                                <div class="col-12 address py-2">
                                                    {% for address in addresses %}
                                                        <div class="row">
                                                            <div class="col-12 col-sm-10">
                                                                <div class="title">{{address.full_address}}</div>
                                                                <div class="sub-title">{{address.user.full_name}}</div>
                                                                <div class="sub-title">{{address.province}}, {{address.city}}</div>
                                                                <div class="sub-title">{{address.user.phone_number}}</div>
                                                            </div>
                                                            <div class="col-12 col-sm-2 text-lg-end">
                                                                <a href="{% url "dashboard:delete_address" pk=address.pk %}" class="float-right float-sm-left pr-2 pl-sm-2"><i class="fa fa-trash-alt font-weight-normal"></i></a>
                                                            </div>
                                                    {% endfor %}
                                                    </div>
                                                </div>
                                                <!-- Address Record -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /User Addresses -->
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
